{% extends 'base.html.twig' %}

{% block title %}brand-accueil{% endblock %}
{% block titlePage %}
   <p class="text-center p-5">Espace de gestion des marques</p>
 {% endblock %}

{% block body %}


{% endblock %}
