{% extends 'base.html.twig' %}

{% block title %}Hello BrandPublishDocsController!{% endblock %}

{% block titlePage %}
   <p class="text-center p-5">Publication de vos documents</p>
 {% endblock %}
 
{% block body %}


{% endblock %}
