{% extends 'base.html.twig' %}

{% block title %}Brand-register{% endblock %}

{% block titlePage %}
   <p class="text-center p-5">Enregistrer Votre entreprise</p>
 {% endblock %}
 
 
 {% block body %}
  
 {{ form_start(brandRegistrationForm) }}
 {{ form_end(brandRegistrationForm) }}


{% endblock %}
