{% extends 'base.html.twig' %}

{% block title %}brand-signDocs{% endblock %}

{% block titlePage %}
   <p class="text-center p-5">Signature du contrat et expédition</p>
 {% endblock %}
 
{% block body %}


{% endblock %}
