{% extends 'base.html.twig' %}

{% block title %}brand-création de compte{% endblock %}

{% block titlePage %}
   <p class="text-center p-5">Créer un compte de production</p>
 {% endblock %}
 
{% block body %}


{% endblock %}
